{% if field.is_hidden %}
    {{ field }}
{% else %}
<label class="form-control w-full {{ wrapper_class }}">
    <span class="label py-1">
        <span class="label-text text-sm font-medium">{{ label|default:field.label }}{% if field.field.required %} <span class="text-error">*</span>{% endif %}</span>
    </span>
    {{ field }}
    {% if field.help_text %}
        <span class="label">
            <span class="label-text-alt text-base-content/60">{{ field.help_text }}</span>
        </span>
    {% endif %}
    {% if field.errors %}
        <span class="label">
            <span class="label-text-alt text-error">{{ field.errors.0 }}</span>
        </span>
    {% endif %}
</label>
{% endif %}
